* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFCCD5 !important;
}
/*#FFCCD5*/
nav{
    background-color: #A4133C;
    font-family: 'RetroMother-Regular', sans-serif;
    font-size: 30px;
    color: #FFCCD5;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 70px;
    
}

.logo img {
    width: 50px;
    height: auto;
}

.titulo{
    font-family: 'RetroMother-Regular', sans-serif;
    color:#FFB3C1;
    -webkit-text-stroke: 1px black;

}


@font-face {
    font-family: 'RetroMother-Regular';
    src: url('../fuentes/RetroMother-Regular.otf');
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0 20px 0 auto;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-family: 'RetroMother-Regular', sans-serif;
}

.nav-links a:hover {
    color: #F7DCEF;
}

/*galery*/
.card {
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
  width: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

/*contenedor*/

.contenedor-galery{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/*

